---

import { type SocialIcon } from "@/types"
import { basics } from "@cv"

const { profiles } = basics

const SOCIAL_ICONS: SocialIcon = {
    Github: `<svg 
    {...Astro.props} 
    xmlns="http://www.w3.org/2000/svg" 
    class="icon icon-tabler icon-tabler-brand-github" 
    width="24" 
    height="24" 
    viewBox="0 0 24 24" 
    stroke-width="2" 
    stroke="currentColor" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round"
    >
    <path 
        stroke="none" 
        d="M0 0h24v24H0z" 
        fill="none"/>
    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
</svg>`,
    LinkedIn: `<svg 
    {...Astro.props} 
    xmlns="http://www.w3.org/2000/svg" 
    class="icon icon-tabler icon-tabler-brand-linkedin" 
    width="24" 
    height="24" 
    viewBox="0 0 24 24" 
    stroke-width="2" 
    stroke="currentColor" 
    fill="none" 
    stroke-linecap="round" 
    stroke-linejoin="round">
    <path 
        stroke="none" 
        d="M0 0h24v24H0z" 
        fill="none"/>
    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
    <path d="M8 11l0 5" />
    <path d="M8 8l0 .01" />
    <path d="M12 16l0 -5" />
    <path d="M16 16v-3a2 2 0 0 0 -4 0" />
</svg>`,
    X: `<svg
    width="16"
    height="16"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
    >
    <title>X</title>
    <path
        fill="currentColor"
        d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
    >
    </path>
</svg>`,
}

const profilesInfo = profiles.map(({ network, url}) => {
    const icon = SOCIAL_ICONS[network]
    const firstLetter = network[0].toUpperCase()

    return {
        id: network,
        section: 'Social',
        title: `Visit ${network}`,
        url,
        icon,
        hotkey: `ctrl+${firstLetter}`,
        handler: () => {
            window.open(url, "_blank")
        },
    }
})
---
<footer class="no-print">
    Press <kbd>Cmd</kbd> + <kbd>K</kbd> to open the command palette
</footer>

<ninja-keys
    data-info={JSON.stringify(profilesInfo)}
    placeholder="Search command"
    hideBreadcrumbs
></ninja-keys>

<script>
    import "ninja-keys"

    const ninja = document.querySelector("ninja-keys")

    if (ninja != null) {
        const info = ninja.getAttribute('data-info') ?? "[]"
        const parsedInfo = JSON.parse(info)

        const data = parsedInfo.map((item: any) => {

            return {
                ... item,
                handler: () => {
                    window.open(item.url, "_blank")
                },
            }
        })

        ninja.data = [
            {
                id: "print",
                title: "ðŸ–¨ï¸PrintðŸ–¨ï¸",
                hotkey: "ctrl+P",
                section: "Actions",
                handler: () => {
                    window.print()
                },
            },
            ...data
        ]
    }
</script>

<style>
    @media print {
		ninja-keys {
			display: none !important;
		}
	}

    footer {
        background: #fdfdfd;
        border-top: 1px solid #eee;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding-block: 9px;
        text-align: center;
        font-size: 0.85rem;
    }

    kbd {
        background: #eee;
        border-radius: 4px;
        padding: 2px 4px;
        font-size: 12px;
    }
</style>
